<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
  <a mat-tab-link routerLink="/"
     (click)="activeLink = '/'"
     [active]="activeLink == '/'"
  >Project RPG</a>

  <a mat-tab-link routerLink="/characters"
     (click)="activeLink = '/characters'"
     [active]="activeLink == '/characters'"
  >Postacie</a>

  <a mat-tab-link routerLink="/skirmish"
     (click)="activeLink = '/skirmish'"
     [active]="activeLink == '/skirmish'"
  >Potyczka</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
