@use '@angular/material' as mat;

$pink: mat.define-palette(mat.$pink-palette);


nav {
  margin-bottom: 10px;
}

a {
  color: mat.get-color-from-palette($pink, 400);
}

.mat-tab-label-active{
  opacity: 1 !important;
}
