<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="start">
  <a mat-tab-link routerLink="/"
     (click)="setActiveLink('/')"
     [active]="activeLink == '/'"
  >{{text.getText().projectRPGLabel}}</a>

  <a mat-tab-link routerLink="/characters"
     (click)="setActiveLink('/characters')"
     [active]="activeLink == '/characters'"
  >{{text.getText().charactersLabel}}</a>

  <a mat-tab-link routerLink="/skirmish"
     (click)="setActiveLink('/skirmish')"
     [active]="activeLink == '/skirmish'"
  >{{text.getText().skirmishLabel}}</a>

  <a mat-tab-link routerLink="/weapons"
     (click)="setActiveLink('/weapons')"
     [active]="activeLink == '/weapons'"
  >{{text.getText().weaponsLabel}}</a>

  <a mat-tab-link routerLink="/armors"
     (click)="setActiveLink('/armors')"
     [active]="activeLink == '/armors'"
  >{{text.getText().armorsLabel}}</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
