<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="100" formArrayName="talents">
    <h4>{{text.getText().talentsLabel}}</h4>
    <div fxLayout="row" fxLayoutGap="20" *ngFor="let talentControl of talents; let i = index" [formGroupName]="i">
      <div fxFlex="40">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>{{text.getText().nameLabel}}</mat-label>
          <mat-select formControlName="talent" [compareWith]="compareModels">
            <mat-option *ngFor="let talent of talentsList" [value]="talent">
              {{talent.nameTranslation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{text.getText().valueLabel}}</mat-label>
          <input matInput type="number" formControlName="value">
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button mat-mini-fab color="warn" type="button" (click)="onDeleteTalent(i)">X</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onAddTalent()">{{text.getText().addTalentLabel}}</button>
      </div>
    </div>
  </div>
</div>
