.table-input {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  line-height: 2 !important;
  text-align: center;
}

td {
  margin: 0 !important;
  padding: 0 !important;
}

th {
  text-align: center;
}

table {
  width: 100%;
}

.mat-cell, .mat-header-cell {
  width: 4%;
  text-align: center;
}

th.mat-header-cell:first-of-type {
  padding-left: 0 !important;
}

th.mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
