<div class="row" *ngIf="isDataAvailable">
  <div class="col-md-10">
    <form [formGroup]="editCharacterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Nazwa</h4>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Opis</h4>
          <input type="text" class="form-control" formControlName="description">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 form-group" formArrayName="characteristics">
          <h4>Cechy</h4>
          <table class="table table-bordered h-25">
            <thead>
            <tr>
              <th scope="col">Sz</th>
              <th scope="col">WW</th>
              <th scope="col">US</th>
              <th scope="col">S</th>
              <th scope="col">Wt</th>
              <th scope="col">I</th>
              <th scope="col">Zw</th>
              <th scope="col">Zr</th>
              <th scope="col">Int</th>
              <th scope="col">SW</th>
              <th scope="col">Ogd</th>
              <th scope="col">Żyw</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td *ngFor="let characteristic of characteristics; let i=index" [formGroupName]="i">
                <input type="text" class="form-control table-input" formControlName="value">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="notes">
          <h4>Notatki</h4>
          <div class="row mb-2" *ngFor="let noteControl of notes; index as i">
            <div class="col-md-8">
              <input type="text" class="form-control table-input" [formControlName]="i">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteNote(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddNote()">Dodaj notatkę</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Ręka wiodąca</h4>
          <input type="radio" formControlName="isRightHanded" [value] = true> Prawa
          <input type="radio" formControlName="isRightHanded" [value] = false> Lewa
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="skills">
          <h4>Umiejętności</h4>
          <div class="row mb-2" *ngFor="let skillControl of skills; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="skill" [compareWith]="compareModels">
                <option *ngFor="let skill of skillsList" [ngValue]="skill">
                  {{skill.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteSkill(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddSkill()">Dodaj Umiejętność</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="talents">
          <h4>Talenty</h4>
          <div class="row mb-2" *ngFor="let talentControl of talents; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="talent" [compareWith]="compareModels">
                <option *ngFor="let talent of talentsList" [ngValue]="talent">
                  {{talent.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value"
                (keyup)="onSetTalentLevel($event, i)"
              >
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteTalent(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddTalent()">Dodaj Talent</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="weapons">
          <h4>Broń</h4>
          <div class="row mb-2" *ngFor="let weaponControl of weapons; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="weapon" [compareWith]="compareModels">
                <option disabled="disabled">
                  ---- {{weaponsList[0].weaponGroupType.nameTranslation}} ----
                </option>
                <ng-container *ngFor="let weapon of weaponsList; let i = index">
                  <option *ngIf="i > 0 && weapon.weaponGroupType.name !== weaponsList[i-1].weaponGroupType.name" disabled="disabled">
                    ---- {{weapon.weaponGroupType.nameTranslation}} ----
                  </option>
                  <option [ngValue]="weapon">
                    {{weapon.nameTranslation}}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger me-1"
                (click)="onDeleteWeapon(i)">X
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="onEditWeapon(i)">Edytuj
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddWeapon()">Dodaj Broń</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="armors">
          <h4>Pancerz</h4>
          <div class="row mb-2" *ngFor="let armorControl of armors; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" [formControl]="armorControl" [compareWith]="compareModels">
                <option disabled="disabled">
                  ---- {{armorsList[0].armorCategory.nameTranslation}} ----
                </option>
                <ng-container *ngFor="let armor of armorsList; let i = index">
                  <option *ngIf="i > 0 && armor.armorCategory.name !== armorsList[i-1].armorCategory.name" disabled="disabled">
                    ---- {{armor.armorCategory.nameTranslation}} ----
                  </option>
                  <option [ngValue]=armor>
                    {{armor.nameTranslation}}
                  </option>
                </ng-container>
              </select>

            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger me-1"
                (click)="onDeleteArmor(i)">X
              </button>
              <button
                type="button"
                class="btn btn-primary"
              (click)="onEditArmor(i)">Edytuj
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddArmor()">Dodaj Pancerz</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="injuries">
          <h4>Urazy</h4>
          <div class="row mb-2" *ngFor="let injuryControl of injuries; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="injury" [compareWith]="compareModels">
                <option *ngFor="let injury of injuryService.injuriesList" [ngValue]="injury">
                  {{injury.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-8">
              <select class="form-select" formControlName="bodyLocalization" [compareWith]="compareModels">
                <option *ngFor="let bodyLocalization of characterBodyLocalizations" [ngValue]="bodyLocalization.bodyLocalization">
                  {{bodyLocalization.bodyLocalization.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteInjury(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddInjury()">Dodaj Uraz</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="conditions">
          <h4>Stany</h4>
          <div class="row mb-2" *ngFor="let conditionControl of conditions; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="condition" [compareWith]="compareModels">
                <option *ngFor="let condition of conditionService.conditionsList" [ngValue]="condition">
                  {{condition.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteCondition(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddCondition()">Dodaj Stan</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary me-2" type="submit">Zapisz</button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Powrót</button>
        </div>
      </div>
    </form>
  </div>
</div>
