<!--<form [formGroup]="form" (ngSubmit)="onSave()">-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">{{character.name}}: Krytyczne niepowodzenie</h4>-->
<!--  </div>-->

<!--  <div class="modal-body">-->
<!--    <div class="mt-2">-->
<!--      <p>Trafienie sojusznika/otrzymanie "Oszołomienia"</p>-->
<!--      <input type="radio" formControlName="chooseConditionOrAllyAttack" value="allyAttack"> Trafienie sojusznika-->
<!--      <input type="radio" formControlName="chooseConditionOrAllyAttack" value="condition"> Oszołomienie-->

<!--      <select *ngIf="chooseConditionOrAllyAttack === 'allyAttack'" class="form-select" formControlName="target">-->
<!--        <option [ngValue]="ally"-->
<!--                *ngFor="let ally of skirmishCharactersList; let i = index">-->
<!--          {{ally.name}}-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="modal-footer">-->
<!--    <button type="submit" class="btn btn-outline-dark" [disabled]="!form.valid">Zapisz</button>-->
<!--  </div>-->
<!--</form>-->
