.description-span {
  cursor: pointer;
}

.mat-column-name {
  width: 15%;
}

.mat-column-price {
  width: 8%;
}

.mat-column-enc {
  width: 5%;
}

.mat-column-availability {
  width: 10%;
}

.mat-column-category {
  width: 10%;
}

.mat-column-localization {
  width: 10%;
}

.mat-column-armorPoints {
  width: 5%;
}

.mat-column-penalties {
  width: 15%;
}

.mat-column-qualities {
  width: 15%;
}
