<div fxLayout="row">
  <div fxFlex="100" style="text-align: center">
    <h3>{{text.getText().armorsLabel}}</h3>
  </div>
</div>
<br>
<div fxLayout="row" class="details-row">
  <div fxFlex="100">
    <ng-container *ngFor="let armorGroup of armorGroups">
      <h5>{{armorGroup.name}}</h5>
      <table mat-table [dataSource]="armorGroup.armors" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().nameLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.nameTranslation}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().priceLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.price}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="enc">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().encumbranceLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.encumbrance}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().availabilityLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.availability.nameTranslation}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().categoryLabel}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.armorCategory.nameTranslation}}
          </td>
        </ng-container>
        <ng-container matColumnDef="localization">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().localizationLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let localization of element.armorBodyLocalizations">
                {{localization.bodyLocalization.nameTranslation}}
              </li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="armorPoints">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().armorPointsLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let localization of element.armorBodyLocalizations">
                {{localization.armorPoints}}
              </li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="penalties">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().penaltiesLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let penalty of element.armorPenalties">
                {{penalty.nameTranslation}}
              </li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="qualities">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().qualitiesLabel}}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let quality of element.armorQualities">
                <span class="description-span"
                      (click)="openBottomSheet(quality)">
                  {{quality.nameTranslation}}
                </span>
              </li>
            </ul>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="armorsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: armorsColumns;" (contextmenu)="onContextMenu($event, row)"></tr>
      </table>
      <br>
    </ng-container>
  </div>
</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-armor="armor">
    <button mat-menu-item (click)="onEditArmor(armor)">
      <span *ngIf="armor.isBaseArmor == true">{{text.getText().copyLabel}}</span>
      <span *ngIf="armor.isBaseArmor == false">{{text.getText().editLabel}}</span>
    </button>
    <button *ngIf="armor.isBaseArmor == false" mat-menu-item (click)="onDeleteArmor(armor.id)">{{text.getText().deleteLabel}}</button>
  </ng-template>
</mat-menu>
