<div *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" (click)="onAddCharacter()">{{text.getText().addCharacterLabel}}</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <mat-accordion *ngFor="let characterGroup of characterGroups">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{characterGroup.group}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-character-item
            *ngFor="let character of characterGroup.characters"
            [character]="character"
            [index]="character.id">
          </app-character-item>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
