mat-form-field {
  width: 100%;
}

mat-radio-button {
  margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-mini-fab {
  margin-top: 5%;
}
