<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="start">
  <a mat-tab-link routerLink="/"
     (click)="setActiveLink('/')"
     [active]="activeLink == '/'"
  >{{text.getText().projectRPGLabel}}</a>

  <a mat-tab-link routerLink="/characters"
     (click)="setActiveLink('/characters')"
     [active]="activeLink == '/characters'"
  >{{text.getText().charactersLabel}}</a>

  <a mat-tab-link routerLink="/skirmish"
     (click)="setActiveLink('/skirmish')"
     [active]="activeLink == '/skirmish'"
  >{{text.getText().skirmishLabel}}</a>

  <a mat-tab-link routerLink="/weapons"
     (click)="setActiveLink('/weapons')"
     [active]="activeLink == '/weapons'"
  >{{text.getText().weaponsLabel}}</a>

  <a mat-tab-link routerLink="/armors"
     (click)="setActiveLink('/armors')"
     [active]="activeLink == '/armors'"
  >{{text.getText().armorsLabel}}</a>

  <a mat-tab-link routerLink="/qualities"
     (click)="setActiveLink('/qualities')"
     [active]="activeLink == '/qualities'"
  >{{text.getText().qualitiesLabel}}</a>

  <a mat-tab-link routerLink="/talents_and_traits"
     (click)="setActiveLink('/talents_and_traits')"
     [active]="activeLink == '/talents_and_traits'"
  >{{text.getText().talentsAndTraitsLabel}}</a>

  <a mat-tab-link routerLink="/conditions"
     (click)="setActiveLink('/conditions')"
     [active]="activeLink == '/conditions'"
  >{{text.getText().conditionsLabel}}</a>
  <a mat-tab-link routerLink="/spells"
     (click)="setActiveLink('/spells')"
     [active]="activeLink == '/spells'"
  >{{text.getText().spellsLabel}}</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
