<h1 mat-dialog-title>{{text.getText().modificationLabel}} {{armor.nameTranslation}}</h1>
<form [formGroup]="form" (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <!--    <div class="mt-2">-->

    <div fxLayout="row">
      <mat-form-field appearance="fill">
        <mat-label>{{text.getText().nameLabel}}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="fill">
        <mat-label>{{text.getText().nameTranslationLabel}}</mat-label>
        <input matInput formControlName="nameTranslation">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
        <mat-label>{{text.getText().armorCategoryLabel}}</mat-label>
        <mat-select formControlName="armorCategory" [compareWith]="compareModels">
          <mat-option *ngFor="let armorCategory of armorService.armorCategoriesList" [value]="armorCategory">
            {{armorCategory.nameTranslation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <hr>
    <div fxLayout="row">
      <div formArrayName="armorBodyLocalizations" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20"
             *ngFor="let armorBodyLocalizationControl of armorBodyLocalizations; let i = index"
             [formGroupName]="i">
          <div fxFlex="50">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>{{text.getText().localizationNameLabel}}</mat-label>
              <mat-select formControlName="bodyLocalization" [compareWith]="compareModels">
                <mat-option *ngFor="let bodyLocalization of bodyLocalizationService.bodyLocalizationsList"
                            [value]="bodyLocalization">
                  {{bodyLocalization.nameTranslation}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="30">
            <mat-form-field appearance="fill">
              <mat-label>{{text.getText().armorPointsLabel}}</mat-label>
              <input matInput type="number" formControlName="armorPoints"
                     (keyup)="onSetBodyLocalizations($event, i)">
            </mat-form-field>
          </div>
          <div fxFlex="10">
            <button mat-mini-fab color="warn" type="button" (click)="onDeleteArmorBodyLocalization(i)">X</button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <button mat-raised-button color="primary" type="button" (click)="onAddBodyLocalization()">
              {{text.getText().addLocalizationLabel}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div fxLayout="row">
      <div formArrayName="armorPenalties" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20" *ngFor="let armorPenaltyControl of armorPenalties; let i = index"
             [formGroupName]="i">
          <div fxFlex="50">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>{{text.getText().qualityNameLabel}}</mat-label>
              <mat-select [formControl]="armorPenaltyControl" [compareWith]="compareModels">
                <mat-option *ngFor="let armorPenalty of armorService.armorPenaltiesList" [value]="armorPenalty">
                  {{armorPenalty.nameTranslation}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="10">
            <button mat-mini-fab color="warn" type="button" (click)="onDeleteArmorPenalty(i)">X</button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <button mat-raised-button color="primary" type="button" (click)="onAddArmorPenalty()">
              {{text.getText().addPenaltyLabel}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div fxLayout="row">
      <div formArrayName="armorQualities" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20" *ngFor="let armorQualityControl of armorQualities; let i = index"
             [formGroupName]="i">
          <div fxFlex="50">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>{{text.getText().qualityNameLabel}}</mat-label>
              <mat-select [formControl]="armorQualityControl" [compareWith]="compareModels">
                <mat-option *ngFor="let armorQuality of armorService.armorQualitiesList" [value]="armorQuality">
                  {{armorQuality.nameTranslation}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="10">
            <button mat-mini-fab color="warn" type="button" (click)="onDeleteArmorQuality(i)">X</button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <button mat-raised-button color="primary" type="button" (click)="onAddArmorQuality()">
              {{text.getText().addArmorQualityLabel}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="onSave()">{{text.getText().saveLabel}}</button>
  </div>
</form>

