<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="100" formArrayName="traits">
    <h4>{{text.getText().traitsLabel}}</h4>
    <div fxLayout="row" fxLayoutGap="20" *ngFor="let traitControl of traits; let i = index" [formGroupName]="i">
      <div fxFlex="40">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>{{text.getText().nameLabel}}</mat-label>
          <mat-select formControlName="trait" [compareWith]="compareModels"
                      (selectionChange)="checkIfTraitHasValue(traitControl)">
            <mat-option *ngFor="let trait of traitsList" [value]="trait">
              {{trait.nameTranslation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{text.getText().valueLabel}}</mat-label>
          <input matInput type="text" formControlName="value">
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button mat-mini-fab color="warn" type="button" (click)="onDeleteTrait(i)">X</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onAddTrait()">{{text.getText().addTraitLabel}}</button>
      </div>
    </div>
  </div>
</div>
