<div class="row">
  <div class="col-md-12">
    <h1>{{skirmishCharacter.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-success" (click)="onEditCharacter()">Tryb Edycji</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br>
    <h4>Opis</h4>
    {{skirmishCharacter.description}}
    <br>
    <br>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Parametry tymczasowe</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Wartość</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Żywotność</td>
        <td>{{skirmishCharacter.temporaryParameters.currentWounds}}/{{skirmishCharacter.characteristics.wounds.value}}</td>
      </tr>
      <tr>
        <td>Inicjatywa</td>
        <td>{{skirmishCharacter.temporaryParameters.skirmishInitiative}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Cechy</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Sz</th>
        <th scope="col">WW</th>
        <th scope="col">US</th>
        <th scope="col">S</th>
        <th scope="col">Wt</th>
        <th scope="col">I</th>
        <th scope="col">Zw</th>
        <th scope="col">Zr</th>
        <th scope="col">Int</th>
        <th scope="col">SW</th>
        <th scope="col">Ogd</th>
        <th scope="col">Żyw</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{skirmishCharacter.characteristics.movement.value}}</td>
        <td>{{skirmishCharacter.characteristics.weaponSkill.value}}</td>
        <td>{{skirmishCharacter.characteristics.ballisticSkill.value}}</td>
        <td>{{skirmishCharacter.characteristics.strength.value}}</td>
        <td>{{skirmishCharacter.characteristics.toughness.value}}</td>
        <td>{{skirmishCharacter.characteristics.initiative.value}}</td>
        <td>{{skirmishCharacter.characteristics.agility.value}}</td>
        <td>{{skirmishCharacter.characteristics.dexterity.value}}</td>
        <td>{{skirmishCharacter.characteristics.intelligence.value}}</td>
        <td>{{skirmishCharacter.characteristics.willpower.value}}</td>
        <td>{{skirmishCharacter.characteristics.fellowship.value}}</td>
        <td>{{skirmishCharacter.characteristics.wounds.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Umiejętności</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let characterSkill of skirmishCharacter.skills">
        {{characterSkill.base.nameTranslation}} - {{characterSkill.value}}
      </li>
    </ul>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Talenty</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let talent of skirmishCharacter.talents">
        {{talent.nameTranslation}} - {{talent.level}}
      </li>
    </ul>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Broń</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Zasięg</th>
        <th scope="col">Obrażenia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let weapon of skirmishCharacter.weapons">
        <td>{{weapon.nameTranslation}}</td>
        <td>{{weapon.weaponGroup.nameTranslation}}</td>
        <td>{{weapon.range}}</td>
        <td>
          <span *ngIf="weapon.isUsingStrength; else elseBlock">+BS+{{weapon.damage}}</span>
          <ng-template #elseBlock>+{{weapon.damage}}</ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Pancerz</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Kara</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Punkty Pancerza</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let armor of skirmishCharacter.armor">
        <td>{{armor.nameTranslation}}</td>
        <td>{{armor.category}}</td>
        <td>{{armor.penalty}}</td>
        <td>
          <ul>
            <li *ngFor="let localization of armor.localization">
              {{localization.nameTranslation}}
            </li>
          </ul>
        </td>
        <td>{{armor.armorPoints}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
