 <div
    [ngClass]="skirmishCharacter.isDead == true ? 'dropdown dead-character' : 'dropdown'">

    <a mat-list-item
            style="cursor: pointer; width: 100%"
            [routerLink]="[skirmishCharacter.id]"
            routerLinkActive="active">
      <div fxLayout="row" style="margin-top: 10px">
        <div fxFlex="60">
          <h6 class="list-group-item-heading" *ngIf="skirmishCharacter.sequenceNumber <= 1">{{skirmishCharacter.name}}</h6>
          <h6 class="list-group-item-heading" *ngIf="skirmishCharacter.sequenceNumber > 1">{{skirmishCharacter.name}} {{skirmishCharacter.sequenceNumber}}</h6>
          <span class="list-group-item-text">{{skirmishCharacter.description}}</span>
        </div>
        <div fxFlex="20" *ngIf="!skirmishCharacter.isDead">
          <h6 class="list-group-item-heading">Inicjatywa</h6>
          <p class="list-group-item-text">{{skirmishCharacter.skirmishInitiative}}</p>
        </div>
        <div fxFlex="20" *ngIf="!skirmishCharacter.isDead">
          <h6 class="list-group-item-heading">Żywotność</h6>
          <p class="list-group-item-text">{{skirmishCharacter.currentWounds}}/{{skirmishCharacter.wounds.value}}</p>
        </div>
        <div fxFlex="100" *ngIf="skirmishCharacter.isDead">
          <h6 class="list-group-item-heading">Martwy</h6>
        </div>
      </div>
      <div fxLayout="row" *ngIf="!skirmishCharacter.isDead">
        <div fxFlex="60">
          <h6 class="list-group-item-heading">Notatki</h6>
          <p class="list-group-item-text">
            +
          </p>
        </div>
        <div fxFlex="20">
          <h6 class="list-group-item-heading">Przewagi</h6>
          <p class="list-group-item-text">{{skirmishCharacter.advantage}}</p>
        </div>
        <div fxFlex="20">
          <h6 class="list-group-item-heading">Stany</h6>
          <p *ngFor="let characterCondition of skirmishCharacter.conditions" class="list-group-item-text">
            - {{characterCondition.condition.nameTranslation}} {{characterCondition.value}}
          </p>
        </div>
      </div>
    </a>
  </div>
 <mat-divider></mat-divider>
