span {
  white-space: normal !important;
}

section {
  margin-bottom: 5px;
}

p {
  white-space: normal !important;
  font-size: 12px !important;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 100% !important;
}

.active {
  border-bottom: none !important;
}

.dead-character {
  -webkit-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
