<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="40">
    <h4>{{text.getText().temporaryParametersLabel}}</h4>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>{{text.getText().isAlive}}</mat-label>
      <mat-select formControlName="isDead">
        <mat-option [value]="true">
          {{text.getText().noLabel}}
        </mat-option>
        <mat-option [value]="false">
          {{text.getText().yesLabel}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{text.getText().woundsLabel}}</mat-label>
      <input matInput type="number" formControlName="currentWounds">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{text.getText().initiativeLabel}}</mat-label>
      <input matInput type="number" formControlName="skirmishInitiative">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{text.getText().advantageLabel}}</mat-label>
      <input matInput type="number" formControlName="advantage">
    </mat-form-field>
  </div>
</div>
