<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="100" formArrayName="spells">
    <h4>{{text.getText().spellsLabel}}</h4>
    <div fxLayout="row" fxLayoutGap="20" *ngFor="let spellControl of spells; let i = index" [formGroupName]="i">
      <div fxFlex="40">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>{{text.getText().nameLabel}}</mat-label>
          <mat-select [formControl]="spellControl" [compareWith]="compareModels">
            <mat-optgroup *ngFor="let group of spellGroups" [label]="group.name">
              <mat-option *ngFor="let spell of group.spells" [value]="spell">
                {{spell.nameTranslation}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button mat-mini-fab color="warn" type="button" (click)="onDeleteSpell(i)">X</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onAddSpell()">{{text.getText().addSpellLabel}}</button>
      </div>
    </div>
  </div>
</div>
