<div fxLayout="row" class="details-row" *ngIf="character.description != ''">
  <div fxFlex="100">
    <h4>{{text.getText().descriptionLabel}}</h4>
    {{character.description}}
  </div>
</div>

<div fxLayout="row" class="details-row">
  <div fxFlex="100">
    <h4>{{text.getText().groupLabel}}</h4>
    {{character.group}}
  </div>
</div>

<div fxLayout="row" class="details-row" *ngIf="character.status">
  <div fxFlex="100">
    <h4>{{text.getText().statusLabel}}</h4>
    {{character.status}}
  </div>
</div>
