<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">
    <h1>{{character.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{text.getText().manageCharacterButton}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" style="cursor:pointer;"
               (click)="onAddToFight()">{{text.getText().addToFightButton}}</a></li>
        <li><a class="dropdown-item" style="cursor: pointer"
               (click)="onEditCharacter()">{{text.getText().editCharacterButton}}</a></li>
        <li><a class="dropdown-item" style="cursor: pointer"
               (click)="onDeleteCharacter()">{{text.getText().deleteCharacterButton}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br>
    <h4>{{text.getText().descriptionLabel}}</h4>
    {{character.description}}
    <br>
    <br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>{{text.getText().characteristicsLabel}}</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{text.getCharacteristicNameTranslation("MOVEMENT").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("WEAPON_SKILL").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("BALLISTIC_SKILL").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("STRENGTH").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("TOUGHNESS").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("INITIATIVE").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("AGILITY").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("DEXTERITY").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("INTELLIGENCE").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("WILLPOWER").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("FELLOWSHIP").nameTranslation}}</th>
        <th scope="col">{{text.getCharacteristicNameTranslation("WOUNDS").nameTranslation}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{character.movement.value}}</td>
        <td>{{character.weaponSkill.value}}</td>
        <td>{{character.ballisticSkill.value}}</td>
        <td>{{character.strength.value}}</td>
        <td>{{character.toughness.value}}</td>
        <td>{{character.initiative.value}}</td>
        <td>{{character.agility.value}}</td>
        <td>{{character.dexterity.value}}</td>
        <td>{{character.intelligence.value}}</td>
        <td>{{character.willpower.value}}</td>
        <td>{{character.fellowship.value}}</td>
        <td>{{character.wounds.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-container *ngIf="character.notes.length > 0">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Notatki</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let note of character.notes">
          {{note}}
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<!--<hr>-->
<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <h4>{{text.getText().primaryHandLabel}}</h4>-->
<!--    <h5 *ngIf="character.isRightHanded">- {{text.getText().rightHandLabel}}</h5>-->
<!--    <h5 *ngIf="!character.isRightHanded">- {{text.getText().leftHandLabel}}</h5>-->
<!--  </div>-->
<!--</div>-->

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>{{text.getText().bodyLabel}}</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{text.getText().nameLabel}}</th>
        <th scope="col">{{text.getText().armorPointsLabel}}</th>
        <th scope="col">{{text.getText().injuriesLabel}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bodylocalization of character.bodyLocalizations">
        <td>{{bodylocalization.bodyLocalization.nameTranslation}}</td>
        <td>{{bodylocalization.armorPoints}}</td>
        <td>
          <ul>
            <li *ngFor="let characterInjury of bodylocalization.injuries">
              <span *ngIf="characterInjury.value == 1">{{characterInjury.injury.nameTranslation}}</span>
              <span
                *ngIf="characterInjury.value > 1">{{characterInjury.injury.nameTranslation}} {{characterInjury.value}}</span>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-container *ngIf="character.conditions.length > 0">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>{{text.getText().conditionsLabel}}</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let characterCondition of character.conditions">
          {{characterCondition.condition.nameTranslation}} - {{characterCondition.value}}
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<hr>
<div class="row">
  <div class="row mb-2">
    <div class="col-md-6">
      <h4>{{text.getText().skillsLabel}}</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let characterSkill of character.skills">
          {{characterSkill.skill.nameTranslation}} - {{characterSkill.value}}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>{{text.getText().talentsLabel}}</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let talent of character.talents">
          {{talent.talent.nameTranslation}} - {{talent.value}}
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>{{text.getText().weaponLabel}}</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{text.getText().nameLabel}}</th>
        <th scope="col">{{text.getText().categoryLabel}}</th>
        <th scope="col">{{text.getText().reachLabel}}</th>
        <th scope="col">{{text.getText().damageLabel}}</th>
        <th scope="col">{{text.getText().advantagesAndDisadvantagesLabel}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let characterWeapon of character.weapons">
        <td
          *ngIf="characterWeapon.value == 1; else characterWeaponValue">{{characterWeapon.weapon.nameTranslation}}</td>
        <ng-template #characterWeaponValue>
          <td>{{characterWeapon.weapon.nameTranslation}} ({{characterWeapon.value}})</td>
        </ng-template>
        <td>{{characterWeapon.weapon.weaponGroupType.nameTranslation}}</td>
        <td>
          <span
            *ngIf="characterWeapon.weapon.weaponRange == 0; else weaponRange">{{characterWeapon.weapon.weaponReach.nameTranslation}}</span>
          <ng-template #weaponRange>
            <span *ngIf="characterWeapon.weapon.weaponGroupType.name.includes('AMMUNITION'); else fullWeaponRange">
              <span *ngIf="characterWeapon.weapon.weaponRange == 0.5">{{text.getText().halfWeaponRangeLabel}}</span>
              <span *ngIf="characterWeapon.weapon.weaponRange == 1">{{text.getText().rangeAsWeaponLabel}}</span>
              <span *ngIf="characterWeapon.weapon.weaponRange > 1">+{{characterWeapon.weapon.weaponRange}}</span>
            </span>
            <ng-template #fullWeaponRange>
              <span>{{characterWeapon.weapon.weaponRange}}</span>
            </ng-template>
          </ng-template>
        </td>
        <td>
          <span *ngIf="characterWeapon.weapon.isUsingStrength; else elseBlock">+{{text.getText().strengthBonusLabel}}
            +{{characterWeapon.weapon.damage}}</span>
          <ng-template #elseBlock>+{{characterWeapon.weapon.damage}}</ng-template>
        </td>
        <td>
          <ul>
            <li *ngFor="let quality of characterWeapon.weapon.weaponQualities">
              {{quality.nameTranslation}}
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>{{text.getText().armorLabel}}</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{text.getText().nameLabel}}</th>
        <th scope="col">{{text.getText().categoryLabel}}</th>
        <th scope="col">{{text.getText().localizationLabel}}</th>
        <th scope="col">{{text.getText().armorPointsLabel}}</th>
        <th scope="col">{{text.getText().penaltiesLabel}}</th>
        <th scope="col">{{text.getText().qualitiesLabel}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let armor of character.armors">
        <td>{{armor.nameTranslation}}</td>
        <td>{{armor.armorCategory.nameTranslation}}</td>
        <td>
          <ul>
            <li *ngFor="let localization of armor.armorBodyLocalizations">
              {{localization.bodyLocalization.nameTranslation}}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let localization of armor.armorBodyLocalizations">
              {{localization.armorPoints}}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let penalty of armor.armorPenalties">
              {{penalty.nameTranslation}}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let quality of armor.armorQualities">
              {{quality.nameTranslation}}
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
