<div class="row">
  <div class="col-md-12">
    <h1>{{character.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Zarządzaj Postacią
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" style="cursor:pointer;" (click)="onAddToFight()">Dodaj do walki</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onEditCharacter()">Edytuj Postać</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onDeleteCharacter()">Usuń Postać</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br>
    <h4>Opis</h4>
    {{character.description}}
    <br>
    <br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Cechy</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Sz</th>
        <th scope="col">WW</th>
        <th scope="col">US</th>
        <th scope="col">S</th>
        <th scope="col">Wt</th>
        <th scope="col">I</th>
        <th scope="col">Zw</th>
        <th scope="col">Zr</th>
        <th scope="col">Int</th>
        <th scope="col">SW</th>
        <th scope="col">Ogd</th>
        <th scope="col">Żyw</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{character.characteristics.movement.value}}</td>
        <td>{{character.characteristics.weaponSkill.value}}</td>
        <td>{{character.characteristics.ballisticSkill.value}}</td>
        <td>{{character.characteristics.strength.value}}</td>
        <td>{{character.characteristics.toughness.value}}</td>
        <td>{{character.characteristics.initiative.value}}</td>
        <td>{{character.characteristics.agility.value}}</td>
        <td>{{character.characteristics.dexterity.value}}</td>
        <td>{{character.characteristics.intelligence.value}}</td>
        <td>{{character.characteristics.willpower.value}}</td>
        <td>{{character.characteristics.fellowship.value}}</td>
        <td>{{character.characteristics.wounds.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Wiodąca ręka</h4>
    <h5 *ngIf="character.isRightHanded">- Prawa</h5>
    <h5 *ngIf="!character.isRightHanded">- Lewa</h5>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Umiejętności</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let characterSkill of character.skills">
        {{characterSkill.base.nameTranslation}} - {{characterSkill.value}}
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Talenty</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let talent of character.talents">
        {{talent.nameTranslation}} - {{talent.level}}
      </li>
    </ul>
  </div>
</div><hr>
<div class="row">
  <div class="col-md-12">
    <h4>Broń</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Zasięg</th>
        <th scope="col">Obrażenia</th>
        <th scope="col">Zalety i Wady</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let weapon of character.weapons">
        <td>{{weapon.nameTranslation}}</td>
        <td>{{weapon.weaponGroupType}}</td>
        <td>{{weapon.weaponRange}}</td>
        <td>
          <span *ngIf="weapon.isUsingStrength; else elseBlock">+BS+{{weapon.damage}}</span>
          <ng-template #elseBlock>+{{weapon.damage}}</ng-template>
        </td>
        <td>
          <span *ngFor="let quality of weapon.qualities"> {{quality.nameTranslation}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Pancerz</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Kara</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Punkty Pancerza</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let armor of character.armor">
        <td>{{armor.nameTranslation}}</td>
        <td>{{armor.category}}</td>
        <td>{{armor.penalties}}</td>
        <td>
          <ul>
            <li *ngFor="let localization of armor.localization">
              {{localization.nameTranslation}}
            </li>
          </ul>
        </td>
        <td>{{armor.armorPoints}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
