<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">
    <h1>{{character.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Zarządzaj Postacią
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" style="cursor:pointer;" (click)="onAddToFight()">Dodaj do walki</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onEditCharacter()">Edytuj Postać</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onDeleteCharacter()">Usuń Postać</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br>
    <h4>Opis</h4>
    {{character.description}}
    <br>
    <br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Cechy</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Sz</th>
        <th scope="col">WW</th>
        <th scope="col">US</th>
        <th scope="col">S</th>
        <th scope="col">Wt</th>
        <th scope="col">I</th>
        <th scope="col">Zw</th>
        <th scope="col">Zr</th>
        <th scope="col">Int</th>
        <th scope="col">SW</th>
        <th scope="col">Ogd</th>
        <th scope="col">Żyw</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{character.movement.value}}</td>
        <td>{{character.weaponSkill.value}}</td>
        <td>{{character.ballisticSkill.value}}</td>
        <td>{{character.strength.value}}</td>
        <td>{{character.toughness.value}}</td>
        <td>{{character.initiative.value}}</td>
        <td>{{character.agility.value}}</td>
        <td>{{character.dexterity.value}}</td>
        <td>{{character.intelligence.value}}</td>
        <td>{{character.willpower.value}}</td>
        <td>{{character.fellowship.value}}</td>
        <td>{{character.wounds.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Wiodąca ręka</h4>
    <h5 *ngIf="character.isRightHanded">- Prawa</h5>
    <h5 *ngIf="!character.isRightHanded">- Lewa</h5>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Umiejętności</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let characterSkill of character.skills">
        {{characterSkill.skill.nameTranslation}} - {{characterSkill.value}}
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Talenty</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let talent of character.talents">
        {{talent.talent.nameTranslation}} - {{talent.value}}
      </li>
    </ul>
  </div>
</div><hr>
<div class="row">
  <div class="col-md-12">
    <h4>Broń</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Zasięg</th>
        <th scope="col">Obrażenia</th>
        <th scope="col">Zalety i Wady</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let characterWeapon of character.weapons">
        <td *ngIf="characterWeapon.value == 1; else characterWeaponValue">{{characterWeapon.weapon.nameTranslation}}</td>
        <ng-template #characterWeaponValue><td>{{characterWeapon.weapon.nameTranslation}} ({{characterWeapon.value}})</td></ng-template>
        <td>{{characterWeapon.weapon.weaponGroupType.nameTranslation}}</td>
        <td>
          <span *ngIf="characterWeapon.weapon.weaponRange == 0; else weaponRange">{{characterWeapon.weapon.weaponReach.nameTranslation}}</span>
          <ng-template #weaponRange>
            <span *ngIf="characterWeapon.weapon.weaponGroupType.name.includes('AMMUNITION'); else fullWeaponRange">
              <span *ngIf="characterWeapon.weapon.weaponRange == 0.5">Połowa zasięgu broni</span>
              <span *ngIf="characterWeapon.weapon.weaponRange == 1">Jak broń</span>
              <span *ngIf="characterWeapon.weapon.weaponRange > 1">+{{characterWeapon.weapon.weaponRange}}</span>
            </span>
            <ng-template #fullWeaponRange>
              <span>{{characterWeapon.weapon.weaponRange}}</span>
            </ng-template>
          </ng-template>
        </td>
        <td>
          <span *ngIf="characterWeapon.weapon.isUsingStrength; else elseBlock">+BS+{{characterWeapon.weapon.damage}}</span>
          <ng-template #elseBlock>+{{characterWeapon.weapon.damage}}</ng-template>
        </td>
        <td>
          <ul>
            <li *ngFor="let quality of characterWeapon.weapon.weaponQualities">
              {{quality.nameTranslation}}
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Pancerz</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Kara</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Punkty Pancerza</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let armor of character.armors">
        <td>{{armor.nameTranslation}}</td>
        <td>{{armor.armorCategory.nameTranslation}}</td>
        <td>
          <ul>
            <li *ngFor="let penalty of armor.penalties">
              {{penalty.nameTranslation}}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let localization of armor.armorBodyLocalizations">
              {{localization.bodyLocalization.nameTranslation}}
            </li>
          </ul>
        </td>
        <td>{{armor.armorPoints}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
