<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="modal-header">
    <h4 class="modal-title">Modyfikacja: {{armor.nameTranslation}}</h4>
  </div>

  <div class="modal-body">
    <div class="mt-2">

      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Nazwa</h4>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Tłumaczenie</h4>
          <input type="text" class="form-control" formControlName="nameTranslation">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Kategoria Pancerza</h4>
          <select class="form-select" formControlName="armorCategory" [compareWith]="compareModels">
            <option *ngFor="let armorCategory of armorService.armorCategoriesList" [ngValue]="armorCategory">
              {{armorCategory.nameTranslation}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group" formArrayName="armorBodyLocalizations">
          <h4>Lokalizacje</h4>
          <div class="row mb-2" *ngFor="let armorBodyLocalizationControl of armorBodyLocalizations; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="bodyLocalization" [compareWith]="compareModels">
                <option *ngFor="let bodyLocalization of bodyLocalizationService.bodyLocalizationsList" [ngValue]="bodyLocalization">
                  {{bodyLocalization.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="number"
                class="form-control"
                formControlName="armorPoints"
                (keyup)="onSetBodyLocalizations($event, i)"
              >
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteArmorBodyLocalization(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddBodyLocalization()">Dodaj Lokalizację</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" formArrayName="armorPenalties">
          <h4>Kara</h4>
          <div class="row mb-2" *ngFor="let armorPenaltyControl of armorPenalties; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" [formControl]="armorPenaltyControl" [compareWith]="compareModels">
                <option *ngFor="let armorPenalty of armorService.armorPenaltiesList" [ngValue]="armorPenalty">
                  {{armorPenalty.nameTranslation}}
                </option>
              </select>

            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger me-1"
                (click)="onDeleteArmorPenalty(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddArmorPenalty()">Dodaj Karę</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" formArrayName="armorQualities">
          <h4>Zalety i Wady</h4>
          <div class="row mb-2" *ngFor="let armorQualityControl of armorQualities; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" [formControl]="armorQualityControl" [compareWith]="compareModels">
                <option *ngFor="let armorQuality of armorService.armorQualitiesList" [ngValue]="armorQuality">
                  {{armorQuality.nameTranslation}}
                </option>
              </select>

            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger me-1"
                (click)="onDeleteArmorQuality(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddArmorQuality()">Dodaj Zaletę lub Wadę</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Zapisz</button>
  </div>
</form>
