<app-list-filter
  (filterValueChanged)="applyFilter($event)">
</app-list-filter>

<div fxLayout="row">
  <div fxFlex="100" style="text-align: center">
    <h3>{{name}}</h3>
  </div>
</div>
<br>
<div fxLayout="row" class="details-row">
  <div fxFlex="100">
    <ng-container *ngFor="let weaponGroup of weaponGroups">
      <app-weapon-group-table
        [weaponGroup]="weaponGroup"
        [filterValue]="filterValue">
      </app-weapon-group-table>
    </ng-container>
  </div>
</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-weapon="weapon">
    <button mat-menu-item (click)="onEditWeapon(weapon)">
      <span *ngIf="weapon.isBaseWeapon == true">{{text.getText().copyLabel}}</span>
      <span *ngIf="weapon.isBaseWeapon == false">{{text.getText().editLabel}}</span>
    </button>
    <button *ngIf="weapon.isBaseWeapon == false" mat-menu-item (click)="onDeleteWeapon(weapon.id)">{{text.getText().deleteLabel}}</button>
  </ng-template>
</mat-menu>
