<h1 mat-dialog-title>{{this.text.getText().addConditionLabel}}</h1>
<div mat-dialog-content>
  <form [formGroup]="conditionsForm">
    <div formArrayName="conditions">

      <div fxLayout="row" fxLayoutGap="20px" *ngFor="let conditionControl of conditions; let i = index"
           [formGroupName]="i">
        <div fxFlex="30">
          <mat-form-field appearance="fill">
            <mat-label>{{text.getText().conditionNameLabel}}</mat-label>
            <mat-select formControlName="condition" [compareWith]="compareModels"
                        (selectionChange)="checkIfConditionHasCounter(conditionControl)">
              <mat-option *ngFor="let condition of conditionService.conditionsList" [value]="condition">
                {{condition.nameTranslation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="20">
          <mat-form-field appearance="fill">
            <mat-label>{{text.getText().valueLabel}}</mat-label>
            <input matInput type="number" formControlName="value">
          </mat-form-field>
        </div>

        <div fxFlex="20">
          <mat-form-field appearance="fill">
            <mat-label>{{text.getText().counterLabel}}</mat-label>
            <input matInput type="number" formControlName="counter">
          </mat-form-field>
        </div>

        <div fxFlex="10">
          <button mat-mini-fab color="warn" type="button" (click)="onDeleteCondition(i)">X</button>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="20">
          <button mat-raised-button color="primary" type="button"
                  (click)="onAddCondition()">{{text.getText().addConditionLabel}}</button>
        </div>
      </div>
    </div>

    <br>
    <div fxLayout="row">
      <h5>Lista Postaci</h5>
    </div>

    <div *ngFor="let character of skirmishCharacters">
      <mat-checkbox [formControlName]="character.id" color="primary">{{character.name}}</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="saveAndCloseDialog()">{{text.getText().saveLabel}}</button>
</div>
