p {
  white-space: normal !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 100% !important;
}

.active {
  border-bottom: none !important;
}
