<!--<a-->
<!--  style="cursor: pointer"-->
<!--  class="list-group-item clearfix rounded"-->
<!--  [routerLink]="[index]"-->
<!--  routerLinkActive="active">-->
<!--  <div class="pull-left">-->
<!--    <h2 class="list-group-item-heading">{{character.name}}</h2>-->
<!--    <p class="list-group-item-text">{{character.description}}</p>-->
<!--  </div>-->
<!--</a>-->

<section>
  <button mat-stroked-button color="basic"
          style="cursor: pointer; width: 100%"
          [routerLink]="[index]"
          routerLinkActive="active">
    <div class="pull-left" style="text-align: left">
      <h2 class="list-group-item-heading">{{character.name}}</h2>
      <p class="list-group-item-text">{{character.description}}</p>
    </div>
  </button>
</section>
