span {
  white-space: normal !important;
}

section {
  margin-bottom: 5px;
}

p {
  white-space: normal !important;
  font-size: 12px !important;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.tile-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1); /* Opcjonalna linia podziału */
  position: relative;
  z-index: 2;
  padding: 10px;
  color: inherit;
}

.tile-right {
  position: relative;
  z-index: 2;
  padding: 10px;
  color: inherit;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 100% !important;
}

.mdc-list-item {
  padding-left: 0;
  padding-right: 0;
}

.active {
  border-bottom: none !important;
}

.dead-character {
  -webkit-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.skirmish-character-tile {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: 5px;
  background-color: rgba(43, 75, 77, 0.42);
}

.tile-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}

