<div class="modal-header">
  <h4 class="modal-title">Raport</h4>
</div>

<div class="modal-body">
  <div class="mt-2">
    <h5>Atakujący: {{logService.attackerName}}</h5>
    <p>{{logService.attackerAttackTrait}}</p>
    <p>Rzut: {{logService.attackerRoll}}</p>
    <p>Modyfikator: {{logService.attackerModifier}}</p>
    <p>Poziomy sukcesu: {{logService.attackerSuccessLevel}}</p>
  </div>

  <hr>
  <div class="mt-2">
    <h5>Broniący: {{logService.targetName}}</h5>
    <p>{{logService.targetDefenceTrait}}</p>
    <p>Rzut: {{logService.targetRoll}}</p>
    <p>Modyfikator: {{logService.targetModifier}}</p>
    <p>Poziomy sukcesu: {{logService.targetSuccessLevel}}</p>
  </div>

  <hr>
  <div class="mt-2">
    <h5>Rezultat</h5>
    <p>{{logService.result}}</p>
    <p>Zadane obrażenia: {{logService.damage}}</p>
    <p>Lokalizacja trafienia: {{logService.attackLocalization}}</p>
  </div>

  <hr>
  <div class="mt-2" *ngIf="logService.criticalRollName != undefined">
    <h5>Trafienie krytyczne: {{logService.criticalRollTarget}}</h5>
    <p>{{logService.criticalRollName}}</p>
    <p>{{logService.criticalRollDescription}}</p>
  </div>
</div>

