<form [formGroup]="saveForm" (ngSubmit)="onSave()">
  <div class="modal-header">
    <h4 class="modal-title">Rzut na obronę</h4>
  </div>

  <div class="modal-body">
    <div class="mt-2">
      <p>Rzut dla: {{target.name}}</p>
      <input type="number" class="form-control" formControlName="roll">
      <app-validation-alert
        [control]="roll">
      </app-validation-alert>
    </div>

    <div class="mt-2">
      <p>Używana umiejętność/cecha</p>
      <input type="radio" formControlName="checkDefendTrait" value="weapon"> Broń
      <input type="radio" formControlName="checkDefendTrait" value="dodge"> Unik

      <select *ngIf="checkDefendTrait == 'weapon'" class="form-select" formControlName="defendTrait">
        <option [ngValue]="weapon"
                *ngFor="let weapon of characterWeapon; let i = index">
          {{weapon.nameTranslation}}
        </option>
      </select>
    </div>

    <div class="mt-2">
      <p>Flankowany</p>
      <input type="radio" formControlName="isFlanked" [value]=true> Tak
      <input type="radio" formControlName="isFlanked" [value]=false> Nie
    </div>

    <div class="mt-2">
      <p>Modyfikator</p>
      <input type="number" class="form-control" formControlName="modifier">
      <app-validation-alert
        [control]="modifier">
      </app-validation-alert>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" [disabled]="!saveForm.valid">Zapisz</button>
  </div>
</form>
