<div class="modal-header">
  <h4 class="modal-title">{{testType}}</h4>
</div>
<form (ngSubmit)="onSave()">
  <div class="modal-body">
    <div *ngFor="let test of endTurnCheck.tests">
      <p>Rzut dla: {{test.skirmishCharacter.name}}: {{test.conditionType}}</p>
      <input type="number" class="form-control" [(ngModel)]="test.result" [ngModelOptions]="{standalone: true}">
      <hr>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Zapisz</button>
  </div>
</form>
