<div class="row">
  <div class="col-md-10">
    <form [formGroup]="editCharacterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Nazwa</h4>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Opis</h4>
          <input type="text" class="form-control" formControlName="description">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12 form-group">
          <h4>Parametry tymczasowe</h4>
          <table class="table table-bordered h-25">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Nazwa</th>
              <th scope="col">Wartość</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Żywotność</td>
              <td>
                <input type="text" class="form-control table-input" formControlName="temporaryWounds">
              </td>
            </tr>
            <tr>
              <td>Inicjatywa</td>
              <td>
                <input type="text" class="form-control table-input" formControlName="temporaryInitiative">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12 form-group" formArrayName="characteristics">
          <h4>Cechy</h4>
          <table class="table table-bordered h-25">
            <thead>
            <tr>
              <th scope="col">Sz</th>
              <th scope="col">WW</th>
              <th scope="col">US</th>
              <th scope="col">S</th>
              <th scope="col">Wt</th>
              <th scope="col">I</th>
              <th scope="col">Zw</th>
              <th scope="col">Zr</th>
              <th scope="col">Int</th>
              <th scope="col">SW</th>
              <th scope="col">Ogd</th>
              <th scope="col">Żyw</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td *ngFor="let characteristic of characteristics; let i=index" [formGroupName]="i">
                <input type="text" class="form-control table-input" formControlName="value">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="skills">
          <h4>Umiejętności</h4>
          <div class="row mb-2" *ngFor="let skillControl of skills; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="skill" [compareWith]="compareModels">
                <option [ngValue]="skill" *ngFor="let skill of skillsList" [selected]="skill.name == 'MeleeParry'" >
                  {{skill.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteSkill(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddSkill()">Dodaj Umiejętność</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="talents">
          <h4>Talenty</h4>
          <div class="row mb-2" *ngFor="let talentControl of talents; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="talent" [compareWith]="compareModels">
                <option *ngFor="let talent of talentsList.talentsList" [ngValue]="talent">
                  {{talent.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="level"
                (keyup)="onSetTalentLevel($event, i)"
              >
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteTalent(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddTalent()">Dodaj Talent</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="weapons">
          <h4>Broń</h4>
          <div class="row mb-2" *ngFor="let weaponControl of weapons; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" formControlName="weapon" [compareWith]="compareModels">
                <option *ngFor="let weapon of weaponsList" [ngValue]="weapon">
                  {{weapon.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteWeapon(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddWeapon()">Dodaj Broń</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="armors">
          <h4>Pancerz</h4>
          <div class="row mb-2" *ngFor="let armorControl of armors; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" formControlName="armor" [compareWith]="compareModels">
                <option *ngFor="let armor of armorsList" [ngValue]="armor">
                  {{armor.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteArmor(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddArmor()">Dodaj Pancerz</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary me-2" type="submit">{{ 'Edytuj' }}</button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Powrót</button>
        </div>
      </div>
    </form>
  </div>
</div>
