<div>
  <form [formGroup]="editCharacterForm" (ngSubmit)="onSubmit()">
    <app-description-edit [editCharacterForm]="editCharacterForm"></app-description-edit>
    <app-temporary-parameters [editCharacterForm]="editCharacterForm"></app-temporary-parameters>
    <app-conditions-edit [editCharacterForm]="editCharacterForm"></app-conditions-edit>
    <app-characteristics-edit [editCharacterForm]="editCharacterForm"></app-characteristics-edit>
    <app-notes-edit [editCharacterForm]="editCharacterForm"></app-notes-edit>
    <app-skills-edit [editCharacterForm]="editCharacterForm"></app-skills-edit>
    <app-talents-edit [editCharacterForm]="editCharacterForm"></app-talents-edit>
    <app-traits-edit [editCharacterForm]="editCharacterForm"></app-traits-edit>
    <app-spells-edit [editCharacterForm]="editCharacterForm"></app-spells-edit>
    <app-weapons-edit [editCharacterForm]="editCharacterForm"></app-weapons-edit>
    <app-armor-edit [editCharacterForm]="editCharacterForm"></app-armor-edit>
    <app-injury-edit [editCharacterForm]="editCharacterForm"
                     [characterBodyLocalizations]="characterBodyLocalizations"></app-injury-edit>

    <div fxLayout="row" class="details-row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onSubmit()">{{text.getText().saveLabel}}</button>
        <button mat-raised-button color="warn" type="button"
                (click)="onCancel()">{{text.getText().returnLabel}}</button>
      </div>
    </div>
  </form>
</div>
