<div class="row">
  <div class="col-md-14">
    <form [formGroup]="editCharacterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 form-group">
          <h4>Nazwa</h4>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6 form-group">
          <h4>Opis</h4>
          <input type="text" class="form-control" formControlName="description">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6 form-group">
          <h4>Parametry tymczasowe</h4>
          <table class="table table-bordered h-25">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Nazwa</th>
              <th scope="col">Wartość</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Żyje</td>
              <td>
                <select class="form-select table-input" formControlName="isDead">
                  <option [ngValue]=false>
                    Tak
                  </option>
                  <option [ngValue]=true>
                    Nie
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Żywotność</td>
              <td>
                <input type="text" class="form-control table-input" formControlName="currentWounds">
              </td>
            </tr>
            <tr>
              <td>Inicjatywa</td>
              <td>
                <input type="text" class="form-control table-input" formControlName="skirmishInitiative">
              </td>
            </tr>
            <tr>
              <td>Przewagi</td>
              <td>
                <input type="text" class="form-control table-input" formControlName="advantage">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="notes">
          <h4>Notatki</h4>
          <div class="row mb-2" *ngFor="let noteControl of notes; index as i">
            <div class="col-md-8">
              <input type="text" class="form-control table-input" [formControlName]="i">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteNote(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddNote()">Dodaj notatkę</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-8" formArrayName="conditions">
          <h4>Stany</h4>
          <div class="row mb-2" *ngFor="let conditionControl of conditions; let i = index" [formGroupName]="i">
            <div class="col-md-6">
              <select class="form-select" formControlName="base" [compareWith]="compareModels">
                <option [ngValue]="condition" *ngFor="let condition of conditionList">
                  {{condition.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="incurableValue">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteCondition(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddCondition()">Dodaj Stan</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-8" formArrayName="injuries">
          <h4>Urazy</h4>
          <div class="row mb-2" *ngFor="let injuresControl of injuries; let i = index" [formGroupName]="i">
            <div class="col-md-4">
              <select class="form-select" formControlName="bodyLocalization" [compareWith]="compareModels">
                <option [ngValue]="bodyLocalization" *ngFor="let bodyLocalization of bodyLocalizationsList">
                  {{bodyLocalization.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-5">
              <select class="form-select" formControlName="base" [compareWith]="compareModels">
                <option [ngValue]="injure" *ngFor="let injure of injuriesList">
                  {{injure.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteInjury(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddInjury()">Dodaj Uraz</button>
            </div>
          </div>
        </div>
      </div>

      <!--TODO: dokończyć wyświetlanie ran krytycznych-->
      <hr>
      <div class="row">
        <div class="col-md-14" formArrayName="criticalWounds">
          <h4>Rany krytyczne</h4>
          <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Lokalizacja</th>
              <th scope="col">Nazwa</th>
              <th scope="col">Stany</th>
              <th scope="col">Urazy</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let criticalWoundControl of criticalWounds; let i = index" [formGroupName]="i">
              <td>
                <select class="form-select" formControlName="bodyLocalization" [compareWith]="compareModels">
                  <option [ngValue]="bodyLocalization" *ngFor="let bodyLocalization of bodyLocalizationsList">
                    {{bodyLocalization.nameTranslation}}
                  </option>
                </select>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name">
              </td>
              <td>
                <div formArrayName="criticalConditions">
                  <div *ngFor="let condition of getCriticalConditions(criticalWoundControl); let j = index"
                       [formGroupName]="j" class="row gx-0">
                    <div class="col-6">
                      <select class="form-select" formControlName="base" [compareWith]="compareModels">
                        <option [ngValue]="condition" *ngFor="let condition of conditionList">
                          {{condition.nameTranslation}}
                        </option>
                      </select>
                    </div>
                    <div class="col-1">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="value">
                    </div>
                    <div class="col-1">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="incurableValue">
                    </div>
                    <div class="col-1">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="onDeleteCriticalCondition(criticalWoundControl, i)">X
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div formArrayName="criticalInjuries">
                  <div *ngFor="let injury of getCriticalInjuries(criticalWoundControl); let j = index"
                       [formGroupName]="j" class="row row-cols-2 gx-0">
                    <div hidden>
                      <select class="form-select" formControlName="bodyLocalization" [compareWith]="compareModels">
                        <option [ngValue]="bodyLocalization" *ngFor="let bodyLocalization of bodyLocalizationsList">
                          {{bodyLocalization.nameTranslation}}
                        </option>
                      </select>
                    </div>
                    <div class="col-6">
                      <select class="form-select" formControlName="base" [compareWith]="compareModels">
                        <option [ngValue]="injury" *ngFor="let injury of injuriesList">
                          {{injury.nameTranslation}}
                        </option>
                      </select>
                    </div>
                    <div class="col-1">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="onDeleteCriticalInjury(criticalWoundControl, i)">X
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12 form-group" formArrayName="characteristics">
          <h4>Cechy</h4>
          <table class="table table-bordered h-25">
            <thead>
            <tr>
              <th scope="col">Sz</th>
              <th scope="col">WW</th>
              <th scope="col">US</th>
              <th scope="col">S</th>
              <th scope="col">Wt</th>
              <th scope="col">I</th>
              <th scope="col">Zw</th>
              <th scope="col">Zr</th>
              <th scope="col">Int</th>
              <th scope="col">SW</th>
              <th scope="col">Ogd</th>
              <th scope="col">Żyw</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td *ngFor="let characteristic of characteristics; let i=index" [formGroupName]="i">
                <input type="text" class="form-control table-input" formControlName="value">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="skills">
          <h4>Umiejętności</h4>
          <div class="row mb-2" *ngFor="let skillControl of skills; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="base" [compareWith]="compareModels">
                <option [ngValue]="skill" *ngFor="let skill of skillsList" [selected]="skill.name == 'MeleeParry'">
                  {{skill.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="value">
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteSkill(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddSkill()">Dodaj Umiejętność</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="talents">
          <h4>Talenty</h4>
          <div class="row mb-2" *ngFor="let talentControl of talents; let i = index" [formGroupName]="i">
            <div class="col-md-8">
              <select class="form-select" formControlName="talent" [compareWith]="compareModels">
                <option *ngFor="let talent of talentsList" [ngValue]="talent">
                  {{talent.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <input
                type="text"
                class="form-control"
                formControlName="level"
                (keyup)="onSetTalentLevel($event, i)"
              >
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteTalent(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddTalent()">Dodaj Talent</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="weapons">
          <h4>Broń</h4>
          <div class="row mb-2" *ngFor="let weaponControl of weapons; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" formControlName="weapon" [compareWith]="compareModels">
                <option *ngFor="let weapon of weaponsList" [ngValue]="weapon">
                  {{weapon.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteWeapon(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddWeapon()">Dodaj Broń</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12" formArrayName="armors">
          <h4>Pancerz</h4>
          <div class="row mb-2" *ngFor="let armorControl of armors; let i = index" [formGroupName]="i">
            <div class="col-md-10">
              <select class="form-select" formControlName="armor" [compareWith]="compareModels">
                <option *ngFor="let armor of armorsList" [ngValue]="armor">
                  {{armor.nameTranslation}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteArmor(i)">X
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddArmor()">Dodaj Pancerz</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary me-2" type="submit">{{ 'Edytuj' }}</button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Powrót</button>
        </div>
      </div>
    </form>
  </div>
</div>
