<h1 mat-dialog-title>{{this.text.getText().receiveDamageLabel}}</h1>
<div mat-dialog-content>
  <p>{{this.text.getText().damageForLabel}} {{this.character.name}}</p>
  <mat-form-field appearance="fill">
    <mat-label>{{text.getText().valueLabel}}</mat-label>
    <input matInput type="number" [(ngModel)]="receivedDamage.damage">
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{text.getText().localizationNameLabel}}</mat-label>
    <mat-select [(ngModel)]="receivedDamage.bodyLocalization" [compareWith]="compareModels">
      <mat-option *ngFor="let bodyLocalization of character.bodyLocalizations"
                  [value]="bodyLocalization.bodyLocalization.name">
        {{bodyLocalization.bodyLocalization.nameTranslation}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>{{text.getText().isWeaponUndamagingLabel}}</p>
  <section>
    <mat-slide-toggle
      color="primary"
      checked="false"
      [(ngModel)]="receivedDamage.isWeaponUndamaging">
    </mat-slide-toggle>
  </section>

  <ng-container *ngIf="receivedDamage.isWeaponUndamaging">
    <p style="margin-top: 10px">{{text.getText().isCharacterLoseTestLabel}}</p>
    <section>
      <mat-slide-toggle
        color="primary"
        checked="false"
        [(ngModel)]="receivedDamage.isLosingTest">
      </mat-slide-toggle>
    </section>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="receivedDamage">{{text.getText().saveLabel}}</button>
</div>
